.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.titulo
{
	font-size: 30px !important;
}

.btn-white
{
	background-color: white;
}

#avatar
{
	margin-bottom: 0px;

}

#imgavatar
{
	padding-top: 5px;
}

#username
{
	margin-top: 20px;
}